# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Paras Patel
#	email = parasprince2001@gmail.com
[user]
	name = Paras Patel
	email = parasprince2001@gmail.com
[alias]

	# View abbreviated SHA, description, and history graph of the latest 25 commits
	l = log --pretty=oneline -n 25 --graph --abbrev-commit

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# Clone a repository including all submodules
	c = clone --recursive

	# Commit all changes
	ca = !git add -A && git commit -av

	# Color graph log view
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	[color]

		# Use colors in Git commands that are capable of colored output when
		# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
		ui = auto

		[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	# Detect copies as well as renames
	renames = copies
